<!DOCTYPE html>
<html>
  <head>
    <title>root</title>
  </head>
  <body>
    <h1>input form</h1>
    <form action="/" method="post">
      <p>
        <label>
          index:
          <br>
          <input type="text" name="index" size="30"></p>
        </label>
      </p>
      <p>
	      <label>
		      last-name:
          <br>
		      <input type="text" name="l_name" size="30"></p>
	      </label>
      </p>
      <p>
	      <label>
		      first-name:
          <br>
		      <input type="text" name="f_name" size="30"></p>
	      </label>
      </p>
      <p>
	      <label>
		      csv-file:
          <br>
		      <input type="file" name="csv_data" accept="text/csv">
	      </label>
      </p>
      <p>
        <input type="submit" value="submit">
      </p>
    </form>
    <p><a href="/search">分析ページ</a></p>
  </body>
</html>
