<!DOCTYPE html>
<html>
  <head>
    <title>search data</title>
  </head>
  <body>
    <h1>search data</h1>
    <form action="/data" method="post">
      <p>
        <label>
          index:
          <br>
          <input type="text" name="index" size="30"></p>
        </label>
      </p>
      <p>
	      <label>
		      last-name:
          <br>
		      <input type="text" name="l_name" size="30"></p>
	      </label>
      </p>
      <p>
	      <label>
		      first-name:
          <br>
		      <input type="text" name="f_name" size="30"></p>
	      </label>
      </p>
      <p>
        <input type="submit" value="submit">
      </p>
    </form>
  </body>
</html>
